@import "../../variables";


a.button {
  display: flex;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  //width: 100%;
  margin: 0.5rem;
  padding: 0.5rem;
  cursor: pointer;
  transition: all 0.3s ease-out;
  text-decoration: none !important;
  text-transform: uppercase;
  text-overflow: ellipsis;
  color: white;
  @include drop-shadow(0.1rem 0.2rem 0.2rem clr(shadow));

  border-radius: 3rem;
  background-color: #0A68C4;

  &:hover {
    transform: scale(1.05);
    color: white;
    background-color: #006FD7;
  }

  &:active {
    transform: scale(0.95);
  }
}
