@import "../../variables";

.button {
  display: flex;
  overflow: hidden;
  align-items: center;
  flex-grow: 1;
  justify-content: center;
  width: 100%;
  min-height: 100px;
  text-overflow: ellipsis;
  background-color: $blue;
}