@import "../../variables";

.pokemon {
  $width: 12vw;

  position: relative;
  @include drop-shadow(0px 5px 5px clr(shadow));
  width: $width;
  margin: $width * 0.05;
  background-color: #650501;

  & > * {
    position: absolute;
    bottom: 0;
    width: 100% !important;
    transition: inherit;

    &.avatar {
      bottom: $width * 0.25;
    }

    &.icon {
      bottom: $width * 0.5;
      height: $width * 0.4;
    }
  }

  &:hover {
    cursor: pointer;

    .avatar, .icon {
      //@include drop-shadow(0px 0px 4px clr(pokemon-highlight));
    }
  }

}