@import "../../variables";

.pokemon {
  $width: 12vw;

  @include drop-shadow(0px 5px 5px clr(shadow));
  width: $width;
  display: flex;
  margin: 5px;
  flex-direction: column-reverse;

  & > * {
    width: 100% !important;
    display: none;

    &.platform {
      display: unset;
      margin-top: -$width * 0.2;
    }

    &.avatar {
      display: unset;

      &.isHovering {
        animation: wobble 1s 1;
      }
    }

    &.icon {
      display: unset;
      height: $width * 0.6;
      margin-bottom: $width * 0.25;

       &.isHovering  {
        animation: flipY 1s 1;
      }
    }
  }

  &:hover {
    cursor: pointer;

    .avatar, .icon {
      @include drop-shadow(0px 0px 4px clr(pokemon-highlight));
      color: lighten(clr(pokemon-highlight), 30%);
    }
  }
}


@keyframes flipY {
  0% {
    transform: rotateY(0deg);
  }

  50% {

    transform: rotateY(180deg);
  }

  100% {
    transform: rotateY(360deg);
  }
}


@keyframes wobble {
  0% {
    transform: scale(1, 1) translateY(0);
  }
  10% {
    transform: scale(1.1, .9) translateY(0);
  }
  30% {
    transform: scale(.9, 1.1) translateY(-30px);
  }
  50% {
    transform: scale(1.05, .95) translateY(0);
  }
  57% {
    transform: scale(1, 1) translateY(-7px);
  }
  64% {
    transform: scale(1, 1) translateY(0);
  }
  100% {
    transform: scale(1, 1) translateY(0);
  }
}