@import "../../variables";

.pokemon {
  $width: 12vw;

  position: relative;
  @include drop-shadow(0px 5px 5px clr(shadow));
  width: $width;
  margin: $width * 0.05;
  background-color: #650501;

  & > * {
    position: absolute;
    bottom: 0;
    width: 100% !important;
    padding: $width * 0.1 0;

    &.avatar {
      bottom: $width * 0.25;

      &.isHovering {
        animation: wobble 1s 1;
      }
    }

    &.icon {
      bottom: $width * 0.5;
      height: $width * 0.8;

       &.isHovering  {
        animation: flipY 1s 1;
      }
    }
  }

  &:hover {
    cursor: pointer;

    .avatar, .icon {
      @include drop-shadow(0px 0px 4px clr(pokemon-highlight));
      color: lighten(clr(pokemon-highlight), 30%);
    }
  }
}


@keyframes flipY {
  0% {
    transform: rotateY(0deg);
  }

  50% {

    transform: rotateY(180deg);
  }

  100% {
    transform: rotateY(360deg);
  }
}


@keyframes wobble {
  0% {
    transform: scale(1, 1) translateY(0);
  }
  10% {
    transform: scale(1.1, .9) translateY(0);
  }
  30% {
    transform: scale(.9, 1.1) translateY(-30px);
  }
  50% {
    transform: scale(1.05, .95) translateY(0);
  }
  57% {
    transform: scale(1, 1) translateY(-7px);
  }
  64% {
    transform: scale(1, 1) translateY(0);
  }
  100% {
    transform: scale(1, 1) translateY(0);
  }
}