@import "../../variables";

.pokemon {
  @include drop-shadow(0px 5px 5px clr(shadow));
  display: flex;
  flex-direction: column-reverse;
  width: 100%;

  & > * {
    width: 100%;
    -ms-transform: translateZ(0);
    -webkit-transform: translateZ(0);
    transform: translateZ(0);

    &.platform {
      + .avatar {
        margin-bottom: -15%;
      }

      + .icon {
        margin: 10% 0;
      }
    }

    &.avatar {
      &.animate {
        animation: wobble 1s 1;
      }
    }

    &.icon {
      padding: 0 20%;

      &.animate {
        animation: flipY 1s 1;
      }
    }

    &.name {
      text-align: center;
      text-transform: capitalize;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      font-size: 100%;
      padding: 5% 0;
    }
  }

  &.highlight:hover {
    .avatar, .icon {
      @include drop-shadow(0px 0px 4px clr(pokemon-highlight));
    }
  }
}


@keyframes flipY {
  0% {
    transform: rotateY(0deg);
  }

  50% {

    transform: rotateY(180deg);
  }

  100% {
    transform: rotateY(360deg);
  }
}


@keyframes wobble {
  0% {
    transform: scale(1, 1) translateY(0);
  }
  10% {
    transform: scale(1.1, .9) translateY(0);
  }
  30% {
    transform: scale(.9, 1.1) translateY(-30px);
  }
  50% {
    transform: scale(1.05, .95) translateY(0);
  }
  57% {
    transform: scale(1, 1) translateY(-7px);
  }
  64% {
    transform: scale(1, 1) translateY(0);
  }
  100% {
    transform: scale(1, 1) translateY(0);
  }
}