@import "../../variables";

a.attack-button {
  display: flex;
  overflow: hidden;
  align-items: center;
  flex-grow: 0.5;
  justify-content: center;
  width: 100%;
  margin: 0.2rem;
  cursor: pointer;
  transition: all 0.3s ease-out;
  text-decoration: none !important;
  text-overflow: ellipsis;
  padding: 0.05rem;
  border-radius: 3rem;
  text-transform: uppercase;
  margin-bottom: -50px;
  @include drop-shadow(0.1rem 0.2rem 0.2rem clr(shadow));


  &:hover {
    transform: scale(1.05);
  }

  &:active {
    transform: scale(0.95);
  }
}