@import "../../variables";

.pokemon-search-view {
  $color: #0F3B1B;

  display: flex;
  align-content: center;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-between;


  .pokemon-preview {
    display: flex;
    align-items: flex-end;
    margin-bottom: 4rem;
    flex-grow: 1;
    flex-shrink: 1;
    justify-content: space-between;

    .col {
      display: flex;
      justify-content: center;

      .pokemon {
        width: 16rem;
      }
    }
  }


  .nav-tabs {
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    border-bottom: 0px;

    .nav-link {
      flex-grow: 1;
      margin-bottom: -1rem;
      padding-bottom: 1rem;
      text-align: center;
      text-transform: capitalize;
      color: #EFEFEF;
      border: 2px solid #80847E;
      border-radius: 1rem 1rem 0rem 0rem;
      background-color: $color;

      &.active {
        color: #EFEFEF;
        background: lighten($color, 10%);
      }
    }
  }

  .tab-content {
    background-color: $color;

    .tab-pane {
      flex-wrap: nowrap;
      width: 100vw;
      border-bottom: 0px;

      .pokemon-file-folder {
        padding: 1rem 0;
      }
    }

  }
}