@import "../../variables";

.pokemon-search-view {
  $root: &;

  display: flex;
  align-content: center;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-between;

  .pokemon-preview {
    display: flex;
    align-content: center;
    align-items: center;
    align-self: center;
    flex-grow: 1;

    .pokemon {
      width: 10rem;
    }
  }

  .nav-tabs {
    width: 100vw;
    flex-wrap: nowrap;
    //align-items: stretch;
    //
    //> * {
    //  padding: 0;
    //  flex-grow: 1;
    //  text-align: center;
    //}
  }

  .pokemon-file-folder {
    padding: 1rem 0;
  }

  .pokemon-type-normal {
    background-color: #0C76DC;
  }
}