@import "../../variables";

.pokemon-search-view {

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
  align-content: center;

  .pokemon-preview {
    display: flex;
    flex-grow: 1;
    align-content: center;
    align-items: center;
    align-self: center;

    .pokemon {
      width: 10rem;
    }
  }
}