@import "../../variables";

.pokemon-search-view {
  $color: #0F3B1B;

  display: flex;
  align-content: center;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-between;

  .pokemon-preview {
    display: flex;
    align-content: center;
    align-items: center;
    align-self: center;
    flex-grow: 1;

    .pokemon {
      width: 10rem;
    }
  }

  .nav-item {
    margin: 1rem 0.1rem 0;
    text-transform: capitalize;
    color: #EFEFEF;
    border-radius: 1rem 1rem 0rem 0rem !important;
    background-color: $color;

    &.active {
      color: #EFEFEF !important;
      background: lighten( $color, 10% ) !important;
    }
  }

  .nav-tabs {
    flex-wrap: nowrap;
    width: 100vw;
  }

  .tab-pane {
    border-top: 2px solid #09520C;
  }

  .pokemon-file-folder {
    padding: 1rem 0;
    background-color: $color;
  }
}