@import "../../variables";

.pokemon-file-folder {
  .file-folder-contents {
    height: 10rem;
    perspective: 600px;

    ul.slider {
      $slider: &;

      position: absolute;
      display: flex;
      height: 100%;
      cursor: grab;
      transition: all .8s ease;

      li {
        position: relative;
        width: 8rem;
        padding: 0;
        list-style: none;
        cursor: pointer;
        transition: all 0.8s ease, width 0s 0.2s;

        + li {
          margin-left: 1.5rem;
        }

        .front, .back {
          position: absolute;
          top: 0;
          left: 0;
          overflow: hidden;
          width: 100%;
          height: 100%;
          padding: 0.5rem;
          transition: inherit;
          text-overflow: ellipsis;
          border-radius: 10px;
          background: rgb(206, 154, 10);
          backface-visibility: hidden;
          @include drop-shadow(0px 2px 4px clr(shadow));

          &.back {
            z-index: -1;
            transform: rotateY(180deg);
            background: rgb(52, 52, 46);
          }
        }

        &:not(.disabled) {
          &:not(.dragging):not(.expand):hover {
            transition: all 0.5s ease;
            transform: scale(1.05);
          }

          &:not(.dragging):not(.expand):active {
            transition: all 0.2s ease;
            transform: scale(0.95);
          }


          // TODO: Improve the glitch with this animation
          &.expand {
            z-index: 2;
            transform: scale(1.5);

            .front {
              z-index: -1;
              transform: rotateY(180deg);
            }

            .back {
              z-index: unset;
              width: 130%;
              transform: rotateY(0) translateX(-3rem);
            }

            &:first-child {
              .back {
                transform: translateX(1rem);
              }
            }
          }
        }
        
        &.disabled {
          filter: grayscale(100%);
        }
      }

      &:active {
        cursor: grabbing;

        li {
          cursor: inherit;
        }
      }

      &.dragging {
        cursor: grabbing;
        transition: all 0s;
      }
    }
  }
}