@import "../../variables";

.pokemon-trainer-1 {
  margin-top: 200px;
  filter: drop-shadow(0px 10px 10px #222222);
  margin-top: -40vh;
  height: 70vh;
}

.pokemon-trainer-2 {
  filter: drop-shadow(0px 10px 10px #222222);
  height: 40vh;
  margin-top: 10vh;
  margin-left: 100vh;
}


