@import "../../variables";

.pokemon-trainer-1 {
  // margin-top: 200px;
  filter: drop-shadow(0px 10px 10px #222222);
  margin-top: -40vh;
  height: 70vh;
}

.pokemon-trainer-2 {
  filter: drop-shadow(0px 10px 10px #222222);
  height: 33vh;
  margin-top: 2vh;
  margin-left: 200vh;
}


