@import "../../variables";

.horizontal-slider {
  position: relative;
  //width: min-content + 100vw;
  margin-top: 2rem;
  background-color: rgba(88, 163, 13, 0.65);
  perspective: 600px;

  .next, .prev {
    $width: 3rem;

    position: absolute;
    top: 0;
    left: 0;
    width: $width;
    height: 100%;
    transition: all 0.3s;
    opacity: 0;
    background-color: rgba(64, 61, 61, 0.47);

    &.next {
      left: 100vw;
      margin-left: -$width;
    }
  }

  &:hover {
    .next, .prev {
      opacity: 1;
    }
  }


  ul.slider {
    display: flex;
    padding: 0;


    li {
      position: relative;
      width: 8rem;
      height: 11rem;
      margin: 0 10px;
      padding: 0;
      list-style: none;
      transition: all 0.8s ease, width 0s 0.2s;

      .front, .back {
        position: absolute;
        top: 0;
        left: 0;
        overflow: hidden;
        width: 100%;
        height: 100%;
        padding: 0.5rem;
        transition: inherit;
        text-overflow: ellipsis;
        border-radius: 10px;
        background: rgb(206, 154, 10);
        backface-visibility: hidden;
        @include drop-shadow(0px 2px 4px clr(shadow));

        &.back {
          z-index: -1;
          transform: rotateY(180deg);
          background: rgb(52, 52, 46);
        }
      }

      // TODO: Improve the glitch with this animation
      &:hover {
        z-index: 2;
        transform: scale(1.3);

        .front {
          z-index: -1;
          transform: rotateY(180deg);
        }

        .back {
          z-index: unset;
          width: 160%;
          transform: rotateY(0);
        }
      }
    }
  }
}
