@import "~normalize.css";
@import "~bootstrap/scss/bootstrap";
@import "variables";

.red {
  background-color: $red;
}

.green {
  background-color: $green;
}

body {
  font-size: 20px;
  font-weight: 400;
  margin: 0;
  color: var(--gray);
  background-color: $page-color;
}

.full-screen {
  display: flex;
  overflow: hidden;
  align-items: stretch;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
  width: 100vw;
  height: 100vh;
}

