@import "~normalize.css";
@import "~bootstrap/scss/bootstrap";
@import "variables";

body {
  font-size: 20px;
  font-weight: 400;
  margin: 0;

  @include use-background-color(page-color)
}

.full-screen {
  display: flex;
  overflow: hidden;
  align-items: stretch;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
  width: 100vw;
  height: 100vh;

  &:before {
    $blur: 4px;

    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    content: "";
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
    -webkit-filter: blur($blur);
    -moz-filter: blur($blur);
    -o-filter: blur($blur);
    -ms-filter: blur($blur);
    filter: blur($blur);
  }

}

