@import "~normalize.css";
@import '~bootstrap/scss/bootstrap';
@import "variables";

body {
  font-size: 20px;
  font-weight: 400;
  margin: 0;

  @include use-background-color($page-color)
}

.full-screen {
  display: flex;
  overflow: hidden;
  align-items: stretch;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
  width: 100vw;
  height: 100vh;
}

