$red: #650501;
$green: #258000;
$gray: #ADADAD;
$medium-gray: #292929;
$dark-gray: #0F0F0F;
$blue: #006FD7;
$orange: #DAA43D;
$light-red: #FF593B;
$purple: #8000ED;
$transparent: rgba(0, 0, 0, 0);


$footer-color: #313131;
$dark-text: #0E0E0E;
$light-text: #E0E0E0;
$page-color: #EEEEEE;

@function get-text-color($color) {
  @if (lightness($color) > 50) {
    @return $dark-text;
  } @else {
    @return $light-text;
  }
}
